<h1>Showing a Todo</h1>
<p>
name: <%= @todos.name %>
</p>
<p>
description: <%= @todos.description %>
</p>

<%= link_to "edit a todo", edit_todo_path(@todos) %>
<%= link_to "back to todo list", todos_path %>